h1{
    color: rgb(243, 243, 247);
}
/*selectores avandazos*/

/*sirven para ser mas especoificos en la parte que queremos seleccionar*/

header {
    background-color: aqua;
}
nav ul {
    padding: 0;
    text-align: center;
    background-color: black;
}

nav ul li a {
    color: rgb(22, 21, 21);
    text-decoration: none;
}

/*Pseudoclases*/
nav ul li a:hover {
    color: red;
}

/*Display*/
/*Block | inline | inline-block*/

nav ul li {
    display: inline;
    background-color: white ;
    width: 60px;
    padding: 8px;
    height: 20px;
    margin: 0 20px;
}

footer {background-color: blue;
    color: white;
    text-align: center;
}